/*Import Roboto font-family from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*---------------BODY------------------*/
body{
    font-family: Roboto, sans-serif;
    margin: 0px;
    /*minimum height is 100% of the viewport*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
================== Modify color palette ====================
*/

/*---------------SHARED----------------*/
.header, .content, .footer{
    display: flex;
    overflow: hidden;
}

.header, .hero, .footer{
    background-color: #1F2937;
}

.hero, .information, .quote, .welcome{
    flex: 1;
}

.header-list a, .sub-text, .footer{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.logo, .main-text{
    color: #F9FAF8;
    font-weight: 900;
}

.quote-text, .quote-cite{
    text-wrap: nowrap;
}

button, .welcome-card{
    font-weight: 900;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

/*--------------HEADER-----------------*/
.header{
    justify-content: space-around;
    align-items: center;
    padding: 8px 32px;
    gap: 310px;
    align-items: center;
}

.header-list{
    gap: 16px;
}

.logo{
    font-size: 24px;
    flex-shrink: 0;
}

/*--------------CONTENT----------------*/
.content{
    flex-direction: column;
    flex: 1;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 32px;
    gap: 32px;
}

.hero-text{
    flex-shrink: 0;
}

.main-text{
    font-size: 48px;
}

.hero-text button{
    border-width: 0px;
}

.hero-image{
    max-width: 400px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 32px 100px;
    gap: 32px;
}

.info-heading{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-wrap: nowrap;
    color: #1F2937;
}

.info-list{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    gap: 32px;
}

.info-item{
    text-align: center;
    width: auto;
}

.info-image{
    width: auto;
    height: 120px;
    border-radius: 15px;
    border: 4px solid lightskyblue;
}

.quote{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 32px;
    color: #1F2937;
    background-color: #E5E7EB;
}

.quote-card{
    display: flex;
    flex-direction: column;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-cite{
    font-size: 18px;
    font-weight: 900;
    align-self: flex-end;
}

.welcome{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 32px;
}

.welcome-card{
    display: flex;
    justify-content: space-between;
    gap: 250px;
    padding: 16px 48px;
}

.welcome-card button{
    border-color: #E5E7EB;
}

/*---------------FOOTER-----------------*/

.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 8px 32px;
}

.footer-text{
    flex-shrink: 0;
}

/*--------------INDIVIDUAL--------------*/
ul{
    list-style: none;
    display: flex;
    flex-shrink: 0;
    padding: 0px;
    margin: 0px;
}

button{
    cursor: pointer;
    padding: 4px 24px;
}
